In [62]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
df = pd.read_csv('dataset.csv')
df

       Transaction           Item         date_time period_day weekday_weekend
0                1          Bread  30-10-2016 09:58    morning         weekend
1                2   Scandinavian  30-10-2016 10:05    morning         weekend
2                2   Scandinavian  30-10-2016 10:05    morning         weekend
3                3  Hot chocolate  30-10-2016 10:07    morning         weekend
4                3            Jam  30-10-2016 10:07    morning         weekend
...            ...            ...               ...        ...             ...
20502         9682         Coffee  09-04-2017 14:32  afternoon         weekend
20503         9682            Tea  09-04-2017 14:32  afternoon         weekend
20504         9683         Coffee  09-04-2017 14:57  afternoon         weekend
20505         9683         Pastry  09-04-2017 14:57  afternoon         weekend
20506         9684      Smoothies  09-04-2017 15:04  afternoon         weekend

[20507 rows x 5 columns]

In [63]:
df.drop('date_time',axis=1 , inplace=True)
df.drop('period_day',axis=1 , inplace=True)
df.drop('weekday_weekend',axis=1 , inplace=True)
df

       Transaction           Item
0                1          Bread
1                2   Scandinavian
2                2   Scandinavian
3                3  Hot chocolate
4                3            Jam
...            ...            ...
20502         9682         Coffee
20503         9682            Tea
20504         9683         Coffee
20505         9683         Pastry
20506         9684      Smoothies

[20507 rows x 2 columns]

In [64]:
pd =[]
tr =[]
it =[]
for i in range(20507):
    condition = df['Transaction'] == i   
    tr = tr + [i]
    d = df[condition]
    pd = list(d["Item"].apply(lambda x:x))
    it = it + [pd]
    
#print(tr)   
#print(it)

In [65]:
from mlxtend.preprocessing import TransactionEncoder
a = TransactionEncoder()

In [66]:
a_data = a.fit(it).transform(it)
a_data

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [67]:
 a.columns_

['Adjustment',
 'Afternoon with the baker',
 'Alfajores',
 'Argentina Night',
 'Art Tray',
 'Bacon',
 'Baguette',
 'Bakewell',
 'Bare Popcorn',
 'Basket',
 'Bowl Nic Pitt',
 'Bread',
 'Bread Pudding',
 'Brioche and salami',
 'Brownie',
 'Cake',
 'Caramel bites',
 'Cherry me Dried fruit',
 'Chicken Stew',
 'Chicken sand',
 'Chimichurri Oil',
 'Chocolates',
 'Christmas common',
 'Coffee',
 'Coffee granules ',
 'Coke',
 'Cookies',
 'Crepes',
 'Crisps',
 'Drinking chocolate spoons ',
 'Duck egg',
 'Dulce de Leche',
 'Eggs',
 "Ella's Kitchen Pouches",
 'Empanadas',
 'Extra Salami or Feta',
 'Fairy Doors',
 'Farm House',
 'Focaccia',
 'Frittata',
 'Fudge',
 'Gift voucher',
 'Gingerbread syrup',
 'Granola',
 'Hack the stack',
 'Half slice Monster ',
 'Hearty & Seasonal',
 'Honey',
 'Hot chocolate',
 'Jam',
 'Jammie Dodgers',
 'Juice',
 'Keeping It Local',
 'Kids biscuit',
 'Lemon and coconut',
 'Medialuna',
 'Mighty Protein',
 'Mineral water',
 'Mortimer',
 'Muesli',
 'Muffin',
 'My-5 Fruit Shoot',
 'Nomad bag',
 'Olum & polenta',
 'Panatone',
 'Pastry',
 'Pick and Mix Bowls',
 'Pintxos',
 'Polenta',
 'Postcard',
 'Raspberry shortbread sandwich',
 'Raw bars',
 'Salad',
 'Sandwich',
 'Scandinavian',
 'Scone',
 'Siblings',
 'Smoothies',
 'Soup',
 'Spanish Brunch',
 'Spread',
 'Tacos/Fajita',
 'Tartine',
 'Tea',
 'The BART',
 'The Nomad',
 'Tiffin',
 'Toast',
 'Truffles',
 'Tshirt',
 "Valentine's card",
 'Vegan Feast',
 'Vegan mincepie',
 'Victorian Sponge']

In [68]:
import pandas as pd
df = pd.DataFrame(a_data, columns=a.columns_)
df = df.replace(False,0)
df

,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20502,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20503,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20504,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20505,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
df = apriori(df,min_support=0.017, use_colnames= True , verbose=1)
df

Processing 27 combinations | Sampling itemset size 3

C:\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support            itemsets
0   0.151022             (Bread)
1   0.018481           (Brownie)
2   0.047935              (Cake)
3   0.220803            (Coffee)
4   0.025113           (Cookies)
5   0.018091        (Farm House)
6   0.026918     (Hot chocolate)
7   0.017799             (Juice)
8   0.028527         (Medialuna)
9    0.01775            (Muffin)
10  0.039743            (Pastry)
11  0.033159          (Sandwich)
12  0.065831               (Tea)
13  0.041547     (Bread, Coffee)
14   0.02526      (Coffee, Cake)
15  0.021944    (Coffee, Pastry)
16  0.017653  (Coffee, Sandwich)
17  0.023017       (Coffee, Tea)

In [70]:
df_ar = association_rules(df, metric="confidence",min_threshold=0.01)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bread),(Coffee),0.151022,0.220803,0.041547,0.275105,1.245931,0.008201,1.074911
1,(Coffee),(Bread),0.220803,0.151022,0.041547,0.188163,1.245931,0.008201,1.045749
2,(Coffee),(Cake),0.220803,0.047935,0.025260,0.114399,2.386558,0.014676,1.075050
3,(Cake),(Coffee),0.047935,0.220803,0.025260,0.526958,2.386558,0.014676,1.647206
4,(Coffee),(Pastry),0.220803,0.039743,0.021944,0.099382,2.500637,0.013168,1.066220
5,(Pastry),(Coffee),0.039743,0.220803,0.021944,0.552147,2.500637,0.013168,1.739852
6,(Coffee),(Sandwich),0.220803,0.033159,0.017653,0.079947,2.410990,0.010331,1.050853
7,(Sandwich),(Coffee),0.033159,0.220803,0.017653,0.532353,2.410990,0.010331,1.666208
8,(Coffee),(Tea),0.220803,0.065831,0.023017,0.104240,1.583449,0.008481,1.042879
9,(Tea),(Coffee),0.065831,0.220803,0.023017,0.349630,1.583449,0.008481,1.198082